nav {
    background-image: linear-gradient(180deg, rgb(208, 207, 207), white); /* property 1 */
    
}

#intro-text {
    margin-top: 1rem;
}

.card {
    width: 18rem;
    padding: 0.5rem;
    
}

#quote-wrapper {
    margin-top: 4rem;
}

#button {
    color: white;
}

.h5 {
    margin-top: 2rem;
}

#about-text {
    margin-top: 2rem;
}

.bd-example {
    width: 70%;
    height: 70%;
    margin: 0 auto;
}
